#FirstName
{
    margin-left: 105px;
}
#SecondName
{
    margin-left: 87px;
}
#Phone
{
    margin-left: 100px;
}
#Email
{
    margin-left: 101px;
}
#Password
{
    margin-left: 79px;
}
#Female
{
    margin-left: 70px;

}
#Male
{
    margin-left: 88px;

}
#Red
{
    margin-left: 40px;
}
#Green
{
    margin-left: 70px;
}